@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

/*General Page Style*/

body {
    background-color: white;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}






/*Logo & Navigation Menu Style*/
#content {
    max-width: 1600px;
    margin: 0 auto;

}

header {
    background-color: rgb(164, 221, 231, 0.7);
    display: grid;
    grid-template-columns: 150px auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
} 

.logo {
    width: 110px; 
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 42px;
    font-weight: bold;
}

nav a:hover {
    background-color: #A4DDE7;
    color: #4B8FCB;
}






/*Hero & Button Style*/
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -200px;
    margin-bottom: -20px;
    font-size: 40px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 200px;
}

.home-title {
    color: #683935;
    font-size: 2.5em;
    font-family: Lato, Helvetica, sans-serif;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #9CFFDB;
}

#hero-msg h4 {
    color: white;
}

.button-box {
    text-align: center;
    color: white;
    font-weight: bold;
}

.button {
    background-color: #4B8FCB;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 35px 20px 35px;
    margin-top: 50px;
    border-radius: 5px;
}

.button:hover {
    background-color: #FFDE39;
    color: #4B8FCB;
}






/*Main Section & Services Style*/
main section {
    text-align: center;
}

.home-grid {
    display: grid;
    margin-bottom: 25px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.section-img {
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}

#img1 {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 20px;
    padding-top: 15%;
    background-color:#A4DDE7;
}

#paragraph1 {
    grid-column: 3/6;
    grid-row: 1/2;
    padding: 40px;
    padding-top: 6%;
    background-color:#A4DDE7;

}

#img2 {
    grid-column: 4/6;
    grid-row: 2/3;
    padding: 20px;
    padding-top: 15%;
    background-color:#75CFEC;
}

#paragraph2 {
    grid-column: 1/4;
    grid-row: 2/3;
    padding: 40px;
    padding-top: 6%;
    background-color:#75CFEC;
}

#paragraph3 {
    grid-column: 1/56;
    grid-row: 3/4;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-top: 8%;
    background-color:#A4DDE7;
}

#img-type1, #img-type2, #img-type3, #img-type4, #img-type5 {
    width: 85%;
}

#img-type1 {
    grid-column: 1/2;
    grid-row: 4/5;
    margin: auto;
}

#img-type2 {
    grid-column: 2/3;
    grid-row: 4/5;
    margin: auto;
}

#img-type3 {
    grid-column: 3/4;
    grid-row: 4/5;
    margin: auto;
}

#img-type4 {
    grid-column: 4/5;
    grid-row: 4/5;
    margin: auto;
}

#img-type5 {
    grid-column: 5/6;
    grid-row: 4/5;
    margin: auto;
}

.business-types:hover {
    transform: scale(1.3);
}

.msg {
    grid-column: 1/6;
    grid-row: 5/6;
    background-color: #4B8FCB;
    color: white;
    padding-top: 8%;
    font-size: xx-large;
    margin-bottom: -30px;
}

.msg-button-box {
    text-align: center;
    font-weight: bold;
}

.contact-button {
    background-color: #9CFFDB;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 35px 20px 35px;
    border-radius: 5px;
}

.contact-button:hover {
    background-color: #FFDE39;
    color: #4B8FCB;
}




/*Footer Style*/
footer {
    background-color: rgb(164, 221, 231, 0.7);
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: #003B5F;
}

footer a {
    color: #003B5F;
    text-decoration: none;
}

footer a:hover {
    color: #4B8FCB;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}


/* ----SMALLER SCREENS CSS---- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

@media screen and (max-width: 1435px) {
    .msg {
        padding-top: 10%;
    }
}

/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

@media screen and (max-width: 1360px) {
    #img-type1, #img-type2, #img-type3, #img-type4, #img-type5 {
        width: 90%;
    }
}

/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

@media screen and (max-width: 1325px) {
    #hero {
        margin-bottom: -140px;
        font-size: 20px;
    }
    
    #hero-img {
        width: 100%;
    }
    
    #hero-msg {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 150px;
    }
       
    #hero-msg h1, #hero-msg h4 {
        text-align: center;
        color: #9CFFDB;
    }
    
    #hero-msg h4 {
        color: white;
    }
    
    .button-box {
        text-align: center;
        color: white;
        font-weight:lighter;
    }
    
    .button {
        padding: 15px 30px 15px 30px;
    }
   
    .section-img {
        width: 90%;
        box-shadow: 2.5px 2.5px 5px #6f7364;
    }
    
    #img1 {
        padding: 20px;
        padding-top: 12%;
    }
    
    #paragraph1 {
        padding-top: 4%;
        padding-right: 20%;
        font-size: 85%;
    }
    
    #img2 {
        padding: 20px;
        padding-top: 12%;

    }
    
    #paragraph2 {
        font-size: 85%;
    }
    
    #paragraph3 {
        padding-left: 80px;
        padding-right: 100px;
        padding-top: 6%;
        background-color:#A4DDE7;
        font-size: 95%;
    }

    #img-type1, #img-type2, #img-type3, #img-type4, #img-type5 {
        width: 85%;
    }
    
    .msg {
        padding-top: 7%;
    }
    
}


/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

@media screen and (max-width: 1280px) {
    .msg {
        padding-right: 5%;
    }
}

/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

@media screen and (max-width: 1265px) {
    #img1 {
        padding-right: 0%;
        padding-top: 25%;
    }

    #paragraph1 {
        font-size: 90%;
        padding: 10.5%;;
    }
    
    #img2 {
        padding-right: 0%;
        padding-top: 25%;
    }

    #paragraph2 {
        font-size: 90%;
        padding: 10.5%;
    }

    #paragraph3 {
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 8%;
        font-size: 95%;
    }
    
    #img-type1, #img-type2, #img-type3, #img-type4, #img-type5 {
        width: 95%;
    }

    .msg {
        padding-top: 9%;
    }

    footer a, footer h3 {
        font-size: 90%;
    }
}




/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

@media screen and (max-width: 1175px) {
    #hero{
        margin-bottom: -10px;
    }
    .logo {
        width: 90px; 
    }

    #hero-msg {
        margin-top: 120px;
    }

    #img1 {
        padding-top: 30%;
    }

    #paragraph1 {
        padding-right: 15%;
        font-size: 80%;
        padding-top: 12%;
    }
    
    #img2 {
        padding-right: 10%;
        padding-top: 30%;
    }

    #paragraph2 {
        font-size: 75%;
        padding: 10.5%;
        font-size: 80%;
    }

    #paragraph3 {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 10%;
        background-color:#A4DDE7;
        font-size: 90%;
    }

    #img-type1, #img-type2, #img-type3, #img-type4, #img-type5 {
        width: 80%;
    }

    .msg {
        padding-top: 9%;
        padding-right: 0%;
        padding-left: 3%;
    }
}


/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

@media screen and (max-width: 1000px) {
    #hero{
        height: auto;
        margin-bottom: -10px;
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 50px;
    }
    #hero-msg h1 {
        font-size: 50px;
    }
    #hero-msg h4 {
        font-size: 30px;
    }
    .home-title{
        margin: auto;
    }
    .home-grid {
        display: block;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .logo {
        width: 150px;
        padding: 20%;
    }
    #img1 {
        padding: 8%;
        padding-bottom: 1%;
    }
    #paragraph1 {
        padding: 14%;
        padding-top: 1%;
        padding-bottom: 8%;
        font-size: 20px;
    }
    
    #img2 {
        padding: 8%;
        padding-bottom: 1%;
    }

    #paragraph2 {
        padding: 14%;
        padding-top: 1%;
        padding-bottom: 8%;
        font-size: 20px;
    }

    #paragraph3 {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 8%;
        padding-bottom: 8%;
        font-size: 20px;
    }
    
    #img-type1, #img-type2, #img-type3, #img-type4, #img-type5 {
        width: 50%;
        padding-top: 10%;
        padding-bottom: 15%;
        padding-left: 24%;
    }
    .msg {
        width: 100%;
        margin: -25px;
        font-size: 30px;
        padding-top: 5%;
        padding-bottom: 10%;
    }
    footer {
        margin-top: 25px;
    }
}


@media screen and (max-width: 730px) {
    #hero-msg {
        margin-top: 40px;
    }

    #hero {
        margin-top: 0px;
        margin-bottom: -50px;
        font-size: 40px;
    }

    #hero-msg h1 {
        font-size: 30px;
    }

    #hero-msg h4 {
        font-size: 20px;
    }

    .button {
        font-size: 15px;
        padding: 15px 25px 15px 25px;
        border-radius: 5px;
        font-weight: bold;
    }

    #img1 {
        padding: 4%;
        padding-top: 15%;
    }

    #paragraph1 {
        font-size: 20px;
        padding: 10.5%;
        padding-top: 1%;
    }
    
    #img2 {
        padding: 4%;
        padding-top: 15%;
    }

    #paragraph2 {
        font-size: 20px;
        padding: 10.5%;
        padding-top: 1%;
    }

    #paragraph3 {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 8%;
        padding-bottom: 8%;
        font-size: 18px;
    }
    
    #img-type1, #img-type2, #img-type3, #img-type4, #img-type5 {
        width: 50%;
        padding-top: 10%;
        padding-bottom: 15%;
        padding-left: 25%;
    }

    .msg {
        padding: 5%;
        padding-bottom: 15%;
        margin-bottom: -25px;
    }

}